/* --- light theme base & accent colors --- */
/* edit to your preference for systems with light mode preference */
@media (prefers-color-scheme: light) {
    :root {
        --text-base-color: rgb(0,0,0);
        --text-accent-color: rgb(216, 54, 54);
        
        --text-selected-color: rgb(0,0,0);
        --text-selected-background-color: rgb(216, 54, 54);
        
        --background-base-color: rgb(255,255,255);
        --background-accent-color: rgb(255,255,255);
    }
}

/* --- dark theme base & accent colors --- */
/* edit to your preference for systems with dark mode preference*/
@media (prefers-color-scheme: dark) {
    :root {
        --text-base-color: rgb(255,255,255);
        --text-accent-color: rgb(85, 194, 71);

        --text-selected-color: rgb(255,255,255);
        --text-selected-background-color: rgb(216, 54, 54);
        
        --background-base-color: rgb(18,18,18);
        --background-accent-color: rgb(255,255,255);
    }
}

/* --- global variables --- */
:root {
    /* fonts */
    --font-base-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-base-mono: monospace;

    /* colors */
    /*! only edit if you want specific colors on specific h tags */
    /* h tags */
    --h1-base-color: var(--text-base-color);
    --h2-base-color: var(--text-base-color);
    --h3-base-color: var(--text-base-color);
    --h4-base-color: var(--text-base-color);
    --h5-base-color: var(--text-base-color);
    --h6-base-color: var(--text-base-color);

    --h1-accent-color: var(--text-accent-color);
    --h2-accent-color: var(--text-accent-color);
    --h3-accent-color: var(--text-accent-color);
    --h4-accent-color: var(--text-accent-color);
    --h5-accent-color: var(--text-accent-color);
    --h6-accent-color: var(--text-accent-color);

    --h1-selected-color: var(--text-selected-color);
    --h2-selected-color: var(--text-selected-color);
    --h3-selected-color: var(--text-selected-color);
    --h4-selected-color: var(--text-selected-color);
    --h5-selected-color: var(--text-selected-color);
    --h6-selected-color: var(--text-selected-color);

    --h1-selected-background-color: var(--text-selected-background-color);
    --h2-selected-background-color: var(--text-selected-background-color);
    --h3-selected-background-color: var(--text-selected-background-color);
    --h4-selected-background-color: var(--text-selected-background-color);
    --h5-selected-background-color: var(--text-selected-background-color);
    --h6-selected-background-color: var(--text-selected-background-color);

}

/* --- resets --- */
* {
    margin: 0;
    padding: 0;
}

/* --- html --- */
html {
    scroll-behavior: smooth;
    font-family: var(--font-base-sans);
}

/* --- body --- */
body {
    /* set max width and center body */
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    /* set background color */
    background-color: var(--background-base-color);
}

/* --- h tags, dont edit colors! --- */
h1 {
    color: var(--h1-base-color);
}

h1::selection {
    color: var(--h1-selected-color);
    background-color: var(--h1-selected-background-color);
}

h2 {
    color: var(--h2-base-color);
}

h2::selection {
    color: var(--h2-selected-color);
    background-color: var(--h2-selected-background-color);
}

h3 {
    color: var(--h3-base-color);
}

h3::selection {
    color: var(--h3-selected-color);
    background-color: var(--h3-selected-background-color);
}

h4 {
    color: var(--h4-base-color);
}

h4::selection {
    color: var(--h4-selected-color);
    background-color: var(--h4-selected-background-color);
}

h5 {
    color: var(--h5-base-color);
}

h5::selection {
    color: var(--h5-selected-color);
    background-color: var(--h5-selected-background-color);
}

h6 {
    color: var(--h6-base-color);
}

h6::selection {
    color: var(--h6-selected-color);
    background-color: var(--h6-selected-background-color);
}